/* style header */
.header {
  background-color: lightgray
  background-image: url(images/logo/logo2.jpeg);
  background-repeat: no-repeat;
  background-size: cover;

}

.container1 {
  height: 650px;
  background-color: lightblue;
  border: 3px solid purple;
  float:left;
  text-align: center;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 10px;
  padding-bottom: 50px;



}

.smallbox {
  border: 2px solid lightseagreen;
  box-sizing: border-box;
}




body {
  background-color: lightgray;
}

a: link {
  color: green;
  background-color: transparent;
  text-decoration: none

}

a:hover {
  color: red;
  background-color: transparent;
  text-decoration: underline;
}

a:active {
  color: yellow;
  background-color: transparent;
  text-decoration: underline;

}

a:visited {
  color: green;
  background-color: transparent;
  text-decoration: underline;

}

.p1 {
  font-family: georgia, serif;
}

.p2 {
  font-family: italic sans-serif;
}

.p3 {
  font-family: luminari,fantasy;
}


table {
  border: 1px solid;
  border-collapse: collapse;
  width: 100%
}

th, td {
  text-align: left;
  padding: 5px;
}

tr:nth-child(even) {
  background-color: Aqua;
}

#home {
  width: 46px;
  height: 44px;
  background: url(images)
}

.flex-container {
  display: flex;
  flex-wrap: nowrap;
  padding: 50px

}


.flex-container .box1,.box2,.box3 {
  width: 30%;
  margin: 5px;
  text-align: center;
  line-height: normal;
  font-size: 20px;
  border: 2px solid black;
  object-fit: cover;



}

footer {
  text-align: center;
  padding: 3px;

}
